/* FONT STYLE - POPPINS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* VARIABLES */
:root {
  --bg-gray: #757575;
  --bg-dark: #242428;
  --tc-yellow: #ffdd95;
  --tc-white: #fff;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
}
/* GLOBAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/**********Media Query ***********/

body {
      background: #242428;
      color: #fff;
    }

    main {
      height: 100vh;
    }

    /* HEADER */
    header {
      position: sticky;
      top: 0;
      left: 0;
      width: 100%;
      height: 70px;
      background-color: none;
      backdrop-filter: blur(10px);
      display: flex;
      transition: background-color 0.2s ease-in-out;
      z-index: 100;
    }

    #logo > img {
      width: 10rem;
      height: 10rem;
      margin: 1rem 0 0 -4rem;

    }
    #navmenu-wrapper,
    #nav-item,
    #nav-link {
      position: relative;
    }

    header.scrolled {
      background-color: rgb(36, 36, 40, 0.7);
      backdrop-filter: blur(10px);
    }

    header > div {
      width: 1750px;
    }

    #nav-title {
      font-weight: var(--fw-600);
      color: var(--tc-white);
    }

    #nav-title:hover {
      color: var(--tc-yellow);
    }

    #search-content {
      position: relative;
      width: 400px;
    }

    #search-bar {
      border: none;
      height: 40px;
    }

    #search-icon-btn {
      width: 40px;
      height: 40px;
      cursor: pointer;
    }

    #filter-btn {
      height: 26px;
      cursor: pointer;
      line-height: 26px;
      font-size: 0.8em;
      font-weight: var(--fw-600);
      background: var(--bg-gray);
      padding: 0 6px;
      border-radius: 3px;
      margin: 7px;
      z-index: 3;
      cursor: pointer;
    }

    #filter-btn:hover {
      opacity: 0.8;
    }
    /***********F I L T E R - R E S U L T************/
    #Filtering {
      color: #ffdd95;
      font-size: larger;
    }
    /******S O R T   M E N U********/     
    .sortMenu {
      padding: 1rem;
    }
    
    #sortHome {
      background-color: red;
      display: flex;
      justify-content: baseline;
      padding: 1rem;
    }
    
    #Filtering {
      display: flex;
      justify-content: space-between;
    }
    
    /******C A R D********/
    .anime-card-container {
      display: flex;
      flex-wrap: wrap;
      gap: 10px; /* Adjust the gap as needed */
    }
    
    .anime-card {
      width: 200px; /* Adjust the width as needed */
      background-color: rgba(24, 24, 28, 0.8);
      color: rgb(243, 232, 232);
      padding: 10px;
      border-radius: 8px;
      text-decoration: #ffdd95;
    }

    section {
      width: 100%;
      height: auto;
    }

    .card-img-top {
      height: 18rem;
      object-fit: cover;
    }
    .anime-card {
      background-color: #060606; /* Set your desired background color here */
    }
    .anime-card .card-title {
      position: relative; /* Ensure the image is positioned relative to its parent */
      color: rgb(24, 24, 28);
      font-size: 0.9rem;  
      white-space: nowrap; /* Prevent the text from wrapping to the next line */
      overflow: hidden; /* Hide any overflowing text */
      text-overflow: ellipsis; /* Display an ellipsis (...) when the title is truncated */

    }
    .anime-card .card-img-top::after {
      content: ''; /* Create a pseudo-element to serve as the gradient overlay */
      position: absolute; /* Position the pseudo-element on top of the image */
      bottom: 0; /* Place it at the bottom of the image */
      left: 0; /* Stretch the pseudo-element to cover the entire image */
      width: 100%;
      height: 50%; /* Adjust the height of the blur effect as needed */
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)); /* Set the gradient colors and direction */
    }

/* FOOTER */
#github-icon,
#linkedin-icon,
#api-link {
  color: var(--tc-white);
}

#github-icon:hover,
#linkedin-icon:hover,
#api-link:hover {
  color: var(--tc-yellow);
}
