/* FONT STYLE - POPPINS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* VARIABLES */
:root {
  --bg-gray: #757575;
  --bg-dark: #242428;
  --bg-btn-gray: rgba(255, 255, 255, 0.1);
  --tc-yellow: #ffdd95;
  --tc-white: #fff;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
}
/* GLOBAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  position: relative;
  background: #242428;
  color: #fff;
  width: 101vw;
  overflow-x: hidden;
  padding-right: 1vw;
}

body.disable-scroll {
  height: auto;
  overflow: hidden;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background-color: transparent;
  display: flex;
  transition: background-color 0.2s ease-in-out;
  z-index: 100;
}

main {
  top: -85px;
  height: 100%;
  position: relative;
}

/* BRAND LOGO */
#website-logo {
  margin-left: 200px;
}

#website-logo > img {
  margin-top: 15px;
  height: 70px;
  width: 180px;
  object-fit: cover;
}

/* HEADER ON SCROLL STYLE */
header.scrolled {
  background-color: rgb(36, 36, 40, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

/* SIDEBAR CONTAINER */
.navigation-menu {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
}

/* BURGER-MENU-ICON */
#sidebar-icon {
  position: absolute;
  width: 60px;
  height: 60px;
  margin: 5px;
  margin-top: 12px;
  cursor: pointer;
  border-radius: 5px;
  z-index: 100;
}

/* BURGER-MENU BUTTON */
#sidebar-icon > button {
  width: 40px;
  height: 40px;
  margin: 10px;
  position: relative;
  background-color: transparent;
  border: none;
}

/* FOR EACH LINE OF BURGER ICON */
#sidebar-icon > button > span {
  background-color: var(--tc-white);
  outline: 1px solid white;
  outline-offset: 3px;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.5s, width 0.5s;
}

#sidebar-icon > button > #top-line {
  transform: translate(-50%, -18px);
}
#sidebar-icon > button > #bot-line {
  transform: translate(-50%, 13px);
}

/* BURGER-MENU ICON ANIMATION */
#sidebar-icon > .openmenu > #top-line {
  transform: translate(-50%, -50%) rotate(-45deg);
}

#sidebar-icon > .openmenu > #bot-line {
  transform: translate(-50%, -50%) rotate(45deg);
}

#sidebar-icon > .openmenu > #mid-line {
  width: 0%;
}

/* SIDEBAR MENU */
.sidebar-menu {
  height: 100vh;
  width: 300px;
  left: 0;
  top: 0;
  padding-left: 20px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: all 0.3s ease-in;
  transform: translateX(-300px);
  z-index: 30;
}

/* BLUR EFFECT ON CLICK */
.blur-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 10;
}

.blur-bg.active {
  width: 100vw;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

/* SIDEBAR MENU TEXT STYLING */
#sidebar > #sidebar-header {
  font-weight: var(--fw-600);
  text-align: right;
  padding-top: 18px;
  margin-right: 15px;
  margin-bottom: 50px;
  padding-right: 30px;
  text-transform: uppercase;
  pointer-events: none;
  filter: drop-shadow(3px 3px #242428);
}

#sidebar > ul > li {
  margin-bottom: 20px;
  padding-bottom: 15px;
  padding-left: 20px;
  margin-right: 20px;
  border-bottom: 1px solid var(--tc-white);
  filter: drop-shadow(3px 2px #242428);
}

#sidebar > ul > li > a {
  font-size: 1.2rem;
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;
  font-weight: var(--fw-500);
  color: var(--tc-white);
  display: block;
}

#sidebar > ul > li > a:hover {
  color: var(--tc-yellow);
}

/* SIDEBAR SHOW ON CLICK */
header > .navigation-menu > .showmenu {
  transform: translateX(0);
}

/* SEARCH BAR CONTAINER */
#search-content {
  position: relative;
  width: 400px;
  height: 40px;
  margin-top: 25px;
}

#search-bar {
  border: none;
  height: 40px;
}

#search-icon-btn {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

#filter-btn {
  height: 26px;
  cursor: pointer;
  line-height: 26px;
  font-size: 0.8em;
  font-weight: var(--fw-600);
  background: var(--bg-gray);
  padding: 0 6px;
  border-radius: 3px;
  margin: 7px;
  z-index: 3;
  cursor: pointer;
}

#filter-btn:hover {
  opacity: 0.8;
}

/* SEARCH BAR FOR MOBILE VIEW */
.search-logo {
  display: none;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: var(--tc-white);
}

.search-bar-mobile {
  display: none;
}

/* MEDIA QUERY FOR HEADER */
@media (max-width: 600px) {
  header {
    height: 70px;
    background-color: var(--bg-dark);
  }

  #website-logo {
    margin-left: 40%;
    height: 70px;
  }

  #website-logo > img {
    height: 70px;
    width: 130px;
    margin-top: 5px;
    object-fit: cover;
  }

  #sidebar-icon {
    width: 40px;
    height: 40px;
    margin-top: 30px;
    margin-left: 1.5rem;
  }

  #sidebar-icon > button {
    width: 30px;
    height: 30px;
    margin: 5px;
  }

  #sidebar-icon > button > span {
    outline: 1px solid white;
    outline-offset: 2px;
    height: 2px;
    width: 100%;
    top: 10%;
  }

  #sidebar-icon > button > #top-line {
    transform: translate(-50%, -10px);
  }

  #sidebar-icon > button > #bot-line {
    transform: translate(-50%, 8px);
  }

  #sidebar > #sidebar-header {
    font-size: 2rem;
    margin-right: 70px;
  }

  #sidebar > ul > li {
    filter: drop-shadow(3px 3px #242428);
  }

  /* SEARCH BAR FOR MOBILE VIEW */
  .search-logo {
    display: block;
    position: absolute;
    right: 10%;
    left: auto;
    margin-top: 25px;
  }

  .search-bar-mobile {
    display: block;
    position: absolute;
    background-color: rgb(36, 36, 40, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    margin-top: 10px;
    width: 100vw;
    height: 60px;
    z-index: 15;
    transition: all 0.5 ease-in;
    transform: translateY(-70px);
  }

  .search-bar-mobile > form {
    position: absolute;
    background-color: white;
    width: auto;
    left: 5vw;
    right: 5vw;
  }

  .search-bar-mobile.showsearch {
    transform: translateY(60px);
  }
}

/* HERO CAROUSEL STYLING */
.carousel {
  top: -9%;
}

.carousel-cover-img {
  max-height: 800px;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(
    270deg,
    transparent 0,
    rgb(36, 36, 40) 30%,
    rgb(36, 36, 40) 70%,
    transparent
  );
  mask-image: linear-gradient(
    270deg,
    transparent 0,
    rgb(36, 36, 40) 30%,
    rgb(36, 36, 40) 70%,
    transparent
  );
}

.carousel-cover-img::after {
  content: "";
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #242428;
  background: linear-gradient(
    0deg,
    #242428 0%,
    transparent 10%,
    transparent 90%,
    #242428 100%
  );
}

/* CAROUSEL IMG FOR MOBILE VIEW */
.c-img {
  margin-right: 60px;
  margin-top: 70px;
  object-fit: cover;
  object-position: -20px 40px;
  place-self: end;
  height: 100%;
}

/* CAROUSEL IMG FOR DESKTOP VIEW */
.c-md-img {
  margin-right: 118px;
  object-fit: contain;
  object-position: 0 -270px;
  place-self: end;
  width: 100%;
  height: 100%;
}

/* CAROUSEL TEXT STYLING */
#carousel-text {
  padding-bottom: 50px;
  text-align: left;
  top: 0;
  bottom: 0px;
  left: 7%;
  height: 100%;
  background-image: linear-gradient(
    to right,
    transparent 0%,
    rgba(36, 36, 40, 1) 40%,
    transparent 100%
  );
}

#carousel-sub-text {
  font-size: 18px;
  line-height: 1.3em;
  font-weight: 400;
  margin-bottom: 20px;
  color: var(--tc-yellow);
}

#carousel-title {
  font-size: 3em;
  line-height: 1.3em;
  font-weight: 700;
  width: 60%;
  margin-bottom: 1.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
}

#carousel-detail {
  margin-bottom: 1.5rem;
}

#carousel-description {
  font-size: 0.95em;
  line-height: 1.6;
  font-weight: 300;
  margin-bottom: 2rem;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* CAROUSEL DETAIL BUTTON */
#carousel-btn > #detail-btn {
  text-decoration: none;
  font-weight: var(--fw-400);
  color: var(--tc-white);
  background-color: var(--bg-gray);
  padding: 0.5rem 1rem;
  border-radius: 30px;
}

#carousel-btn > #detail-btn:hover {
  color: var(--bg-dark);
  background-color: var(--tc-yellow);
}

/* CAROUSEL NAVIGATION CONTROL STYLING */
#carouselInterval > .carousel-control-prev,
#carouselInterval > .carousel-control-next {
  width: 40px;
  height: 40px;
  bottom: 50px !important;
  top: auto;
  background-color: var(--bg-btn-gray);
  color: white;
  border-radius: 20%;
  opacity: 1;
}

.carousel-control-prev {
  right: 62px;
  left: auto;
  top: 82% !important;
}

.carousel-control-next {
  right: 62px;
}

#carouselInterval > .carousel-control-prev:hover,
#carouselInterval > .carousel-control-next:hover {
  color: var(--bg-dark);
  background-color: var(--tc-yellow);
}

/* CAROUSEL INDICATORS FOR MOBILE VIEW ONLY */
#carousel-indicators {
  margin: 0;
  left: auto;
  right: 7%;
  top: 25%;
  bottom: auto;
}

#carousel-indicators > button {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: var(--tc-white) !important;
  opacity: 1;
}

#carousel-indicators > button.active {
  background-color: var(--tc-yellow) !important;
}

/* MEDIA QUERY FOR CAROUSEL */
@media (max-width: 600px) {
  #carouselInterval {
    height: 400px;
    margin-top: 45px;
  }

  #carousel-text {
    padding-bottom: 60px;
    left: 5%;
  }

  #carousel-sub-text {
    font-size: 1rem;
    margin-bottom: 0.8rem;
  }

  #carousel-title {
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: var(--fw-500);
    width: 70%;
    margin-bottom: 1rem;
  }

  #carousel-detail > div {
    font-size: 12px;
  }

  #carousel-btn > #detail-btn {
    font-weight: var(--fw-300);
    font-size: 12px;
  }
}

#section-label {
  color: #ffdd95;
  margin-left: 50px;
  margin-bottom: 30px;
}
/* TOP AIRING SLIDER STYLING */
#trending-anime-section {
  position: relative;
  width: 100%;
}
.swiper {
  height: 318px;
  margin-left: 70px;
  position: relative;
  overflow: hidden;
  overflow: clip;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block;
  width: 91%;
}

.swiper-wrapper {
  width: 100%;
}

.swiper-slide {
  width: 285px;
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  left: 10px;
}

/* SLIDER TEXT */
.swiper-slide > .anime-title {
  text-align: left;
  height: 40px;
  transform: rotate(-90deg);
  position: absolute;
  bottom: 160px;
  width: 250px;
  line-height: 40px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  left: -120px;
  font-size: 15px;
  font-weight: 500;
}

.number {
  position: absolute;
  color: #ffdd95;
  font-size: 25px;
  font-weight: 600;
  bottom: 0;
  left: -10px;
}
/* SLIDER NAVIGATION */
.trending-anime-navigation {
  position: absolute;
  right: 50px;
  bottom: 0;
  width: 50px;
  height: 318px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.trending-anime-navigation > div[class^="swiper-button"]::after {
  display: none;
}

.trending-anime-navigation > div {
  height: 150px;
  width: 40px;
  top: 0;
  left: 0;
  right: 0;
  background: var(--bg-btn-gray);
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  outline: 0;
  box-shadow: none;
  color: white;
}

.trending-anime-navigation > div:hover {
  background-color: #ffdd95;
  color: black;
}

.trending-anime-navigation > div > i {
  font-weight: 900;
  font-size: 25px;
}

.trending-anime-navigation > div.swiper-button-prev {
  bottom: 0;
  top: auto;
}
.trending-anime-navigation > div.swiper-button-next {
  bottom: auto;
  top: 22px;
}

/* TABLES STYLING */
#anime-table-container {
  margin: 30px 20px;
}

#table-number {
  color: var(--tc-white);
  font-size: 25px;
  font-weight: 600;
  border-bottom: 4px solid var(--tc-yellow);
}

.table-item {
  padding: 1rem 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.075);
}

#table-anime-title {
  font-weight: var(--fw-600);
  text-decoration: none;
  color: var(--tc-white);
}

#table-anime-title:hover {
  color: var(--tc-yellow);
}

#table-details {
  font-weight: var(--fw-300);
  line-height: 24px;
  color: #ddd;
}
.dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  display: inline-block;
  margin: 10px;
}

#small-poster-img {
  width: 80px;
  height: 106px;
  border-radius: 10px;
  object-fit: cover;
}

#top-airing,
#most-popular,
#top-rank,
#most-favorite {
  width: 400px;
  margin: 0 30px;
}

#view-more-btn {
  color: var(--tc-white);
  text-decoration: none;
}

#view-more-btn:hover {
  color: var(--tc-yellow);
}
/* FOOTER */
#github-icon,
#linkedin-icon,
#api-link {
  color: var(--tc-white);
}

#github-icon:hover,
#linkedin-icon:hover,
#api-link:hover {
  color: var(--tc-yellow);
}
