/* FONT STYLE - POPPINS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* VARIABLES */
:root {
  --bg-gray: #757575;
  --bg-dark: #242428;
  --tc-yellow: #ffdd95;
  --tc-white: #fff;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
}
/* GLOBAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  position: relative;
  background: #242428;
  color: #fff;
  overflow-x: hidden;
}

main {
  height: 100vh;
}

/* HEADER */
header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: transparent;
  display: flex;
  transition: background-color 0.2s ease-in-out;
  z-index: 100;
}

#website-logo {
  margin-left: 200px;
  margin-top: 5px;
}

#website-logo > img {
  margin-top: 7px;
  height: 70px;
  width: 180px;
  object-fit: cover;
}

header.scrolled {
  background-color: rgb(36, 36, 40, 0.7);
  backdrop-filter: blur(10px);
}

.navigation-menu {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
}

#sidebar-icon {
  position: absolute;
  width: 60px;
  height: 60px;
  margin: 5px;
  margin-top: 12px;
  cursor: pointer;
  border-radius: 5px;
  z-index: 100;
}

#sidebar-icon > button {
  width: 40px;
  height: 40px;
  margin: 10px;
  position: relative;
  background-color: transparent;
  border: none;
}

#sidebar-icon > button > span {
  background-color: var(--tc-white);
  outline: 1px solid white;
  outline-offset: 3px;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.5s, width 0.5s;
}

#sidebar-icon > button > #top-line {
  transform: translate(-50%, -20px);
}
#sidebar-icon > button > #bot-line {
  transform: translate(-50%, 15px);
}

#sidebar-icon > .openmenu > #top-line {
  transform: translate(-50%, -50%) rotate(-45deg);
}

#sidebar-icon > .openmenu > #bot-line {
  transform: translate(-50%, -50%) rotate(45deg);
}

#sidebar-icon > .openmenu > #mid-line {
  width: 0%;
}

@media (max-width: 600px) {
  #sidebar-icon > button > span {
    outline: 1px solid white;
    outline-offset: 2px;
    height: 3px;
  }

  #sidebar-icon > button > #top-line {
    transform: translate(-50%, -15px);
  }

  #sidebar-icon > button > #bot-line {
    transform: translate(-50%, 12px);
  }
}

.sidebar-menu {
  height: 100vh;
  width: 300px;
  left: 0;
  top: 0;
  padding-left: 20px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  transition: all 0.1s ease-in;
  transform: translateX(-300px);
  z-index: 30;
}

.blur-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 10;
}

.blur-bg.active {
  width: 100vw;
  backdrop-filter: blur(10px);
}

#sidebar > #sidebar-header {
  font-weight: var(--fw-600);
  text-align: right;
  padding-top: 18px;
  margin-right: 15px;
  margin-bottom: 50px;
  padding-right: 30px;
  text-transform: uppercase;
  pointer-events: none;
  filter: drop-shadow(3px 3px #242428);
}

#sidebar > ul > li {
  margin-bottom: 20px;
  padding-bottom: 15px;
  padding-left: 20px;
  margin-right: 20px;
  border-bottom: 1px solid var(--tc-white);
  filter: drop-shadow(3px 2px #242428);
}

#sidebar > ul > li > a {
  font-size: 1.2rem;
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;
  font-weight: var(--fw-500);
  color: var(--tc-white);
  display: block;
}

#sidebar > ul > li > a:hover {
  color: var(--tc-yellow);
}

header > .navigation-menu > .showmenu {
  transform: translateX(0);
}

#search-content {
  position: relative;
  width: 400px;
  height: 40px;
  margin-top: 18px;
}

#search-bar {
  border: none;
  height: 40px;
}

#search-icon-btn {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

#filter-btn {
  height: 26px;
  cursor: pointer;
  line-height: 26px;
  font-size: 0.8em;
  font-weight: var(--fw-600);
  background: var(--bg-gray);
  padding: 0 6px;
  border-radius: 3px;
  margin: 7px;
  z-index: 3;
  cursor: pointer;
}

#filter-btn:hover {
  opacity: 0.8;
}

.carousel-cover-img {
  max-height: 600px;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(
    270deg,
    transparent 0,
    rgb(36, 36, 40) 30%,
    rgb(36, 36, 40) 70%,
    transparent
  );
  mask-image: linear-gradient(
    270deg,
    transparent 0,
    rgb(36, 36, 40) 30%,
    rgb(36, 36, 40) 70%,
    transparent
  );
}

.carousel-cover-img::after {
  content: "";
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #242428;
  background: linear-gradient(
    0deg,
    #242428 0%,
    transparent 10%,
    transparent 90%,
    #242428 100%
  );
}

.c-img {
  margin-right: 30px;
  object-fit: cover;
  place-self: end;
}

.c-md-img {
  margin-right: 100px;
  object-fit: contain;
  object-position: 0 -270px;
  place-self: end;
  width: 100%;
  height: 100%;
}

#carousel-text {
  padding-bottom: 50px;
  text-align: left;
  top: 0;
  bottom: 0px;
  left: 7%;
  height: 100%;
  background-image: linear-gradient(
    to right,
    transparent 0%,
    rgba(36, 36, 40, 1) 40%,
    transparent 100%
  );
}

#carousel-sub-text {
  font-size: 18px;
  line-height: 1.3em;
  font-weight: 400;
  margin-bottom: 20px;
  color: var(--tc-yellow);
}

#carousel-title {
  font-size: 3em;
  line-height: 1.3em;
  font-weight: 700;
  width: 60%;
  margin-bottom: 1.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
}

#carousel-detail {
  margin-bottom: 1.5rem;
}

#carousel-description {
  font-size: 0.95em;
  line-height: 1.6;
  font-weight: 300;
  margin-bottom: 2rem;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#carousel-btn > #detail-btn {
  text-decoration: none;
  font-weight: var(--fw-400);
  color: var(--tc-white);
  background-color: var(--bg-gray);
  padding: 0.5rem 1rem;
  border-radius: 30px;
}

#carousel-btn > #detail-btn:hover {
  color: var(--bg-dark);
  background-color: var(--tc-yellow);
}

#carouselInterval > .carousel-control-prev,
#carouselInterval > .carousel-control-next {
  width: 40px;
  height: 40px;
  bottom: 50px !important;
  top: auto;
  background-color: var(--bg-gray);
  color: white;
  border-radius: 20%;
  opacity: 1;
}

.carousel-control-prev {
  right: 5%;
  left: auto;
  top: 77% !important;
}

.carousel-control-next {
  right: 5%;
}

#carouselInterval > .carousel-control-prev:hover,
#carouselInterval > .carousel-control-next:hover {
  color: var(--bg-dark);
  background-color: var(--tc-yellow);
}

#carousel-indicators {
  margin: 0;
  left: auto;
  right: 3%;
  top: 30%;
  bottom: auto;
}

#carousel-indicators > button {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: var(--tc-white) !important;
  opacity: 1;
}

#carousel-indicators > button.active {
  background-color: var(--tc-yellow) !important;
}

@media (max-width: 600px) {
  #carousel-text {
    padding-bottom: 30px;
    left: 5%;
  }

  #carousel-sub-text {
    font-size: 1rem;
    margin-bottom: 0.8rem;
  }

  #carousel-title {
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: var(--fw-500);
    width: 70%;
    margin-bottom: 1rem;
  }

  #carousel-detail > div {
    font-size: 12px;
  }

  #carousel-btn > #detail-btn {
    font-weight: var(--fw-300);
    font-size: 12px;
  }
}
/* FOOTER */
#github-icon,
#linkedin-icon,
#api-link {
  color: var(--tc-white);
}

#github-icon:hover,
#linkedin-icon:hover,
#api-link:hover {
  color: var(--tc-yellow);
}
